.App {
    width: 100%;
    font-family: "Times New Roman", Times, serif;
    font-size: 16px;
    line-height: 1.5;
    color: rgba(0,0,0,.87);
    font-weight: 300;
}

.App .body {
    margin-top: -20px;
    min-height: 100vh;
}