.video-container {
    position: relative;
    padding-bottom: 56.25%;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 50%;
}

.video-container .home-video {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}