<nav class="navbar navbar-toggleable-md navbar-white">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
            data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand nav-link-black" href="#/">
        <img src="assets/logo.png" width="50" height="50">
    </a>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item disabled">
                <a class="nav-link nav-link-black" href="#/">Home</a>
            </li>
            <li class="nav-item disabled">
                <a class="nav-link nav-link-black" href="#/watches/add">Add Watch</a>
            </li>
            <li class="nav-item disabled">
                <a class="nav-link nav-link-black" href="#/watches/all">All Watches</a>
            </li>
        </ul>
    </div>
</nav>