<h1 class="text-center mt-4">Add Watch</h1>
<form>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" id="name">
    </div>
    <div class="form-group">
        <label for="price">Price</label>
        <input type="number" class="form-control" id="price">
    </div>
    <div class="form-group">
        <label for="imageUrl">Image</label>
        <input type="text" class="form-control" id="imageUrl">
    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea class="form-control" id="description" style="resize: none" rows="3" cols="6"></textarea>
    </div>
    <button id="submit-watch" type="button" class="btn btn-primary">Submit</button>
</form>