.navbar-white {
    background-color: #D3D3D3;
}

.nav-link-black {
    color: #090909;
}

.nav-link-black:hover {
    color: #090909;
}

.nav-link-black:focus {
    color: #090909;
}

.dropdown-toggle::after {
    display:none
}

/*.table {*/
    /*border-radius: 5px;*/
    /*width: 50%;*/
    /*margin: 0 auto;*/
    /*float: none;*/
/*}*/

footer {
    padding-bottom: 3vh;
    width: 100%;
    text-align: center;
}